.create-dialog {
  .create-form {
    padding-top: 16px;
    user-select: none;
    --vi-form-label-gap: 16px;
    --vi-form-item-gap: 28px;
    --vi-form-label-width: 7.6em;

    .radio-group {
      display: flex;
      padding-left: 4px;
      gap: 8px;
      transform: scale(1.2);
    }
  }
}