.gis-drawer {
  background-color: #16061e49;
  filter: drop-shadow(0px 0px 1px #000000);

  .vi-drawer-handle {
    .drawer-content {
      path {
        fill: #16061e49 !important;
      }
    }

    .vi-drawer-arrow {
      path {
        fill: var(--vi-purple-color4);
        opacity: .5;
      }
    }
  }
}